:root {
    --text-color-black: #212121;
    --text-color-full-black: #000000;
    --text-color-white: #FFFFFF;
    --text-color-gray: #757575;
    --text-color-gray-alpfa: rgba(255, 255, 255, .6);

    --bg-color-black: #2F303A;
    --bg-color-gray: #F5F4FA;
    --bg-color-white: #FFFFFF;

    --accent-color: #2196F3;
}

.page {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--text-color-black);
}

.navigation .active {
    color: var(--accent-color);
}

.item-descr {
    color: var(--text-color-gray);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.btn {
    cursor: pointer;
}


/* Header start */
.header {
    background-color: var(--bg-color-white);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color-full-black);
}

.logo>span {
    color: var(--accent-color);
}

.logo,
.link {
    text-decoration: none;
}

.list-item {
    list-style: none;
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color-black)
}

.contacts-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-list .link {
    color: var(--text-color-gray);
}

/* Header end */


/* Hero section start*/
.hero-section {
    text-align: center;
    background-color: var(--bg-color-black);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--text-color-white)
}

.hero-section>.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;
    color: var(--text-color-white);

    background-color: var(--accent-color);
}

/* Hero section end*/


/* Benefits section start */
.benefits-section .item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-section .item-descr {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* Benefits section end */

/* Our job section start */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Our job section end */

/* Our team section start */
.our-team-section {
    background-color: var(--bg-color-gray);
}

.our-team-section .item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.our-team-section .item-descr {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* Our team section end */

/* Footer start */
.footer {
    background-color: var(--bg-color-black);
}

.footer-link {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color-gray-alpfa);
}

.address-link {
    color: var(--text-color-white);
}

/* Portfolio section start*/
.filters-list .btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: currentColor;

    background-color: var(--bg-color-gray)
}

.filters-list .btn:hover,
.filters-list .btn:focus {
    color: var(--text-color-white);

    background-color: var(--accent-color);
}

.porfolio-section .item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.porfolio-section .item-descr {
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.03em;
}

/* Portfolio section end*/